<template name = "SearchId">
  <html>
{{>include}}
  <body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

      {{>common}}
      {{>header}}
      {{>sAlert}}
      <div class="content-wrapper">
          <section class="content-header">
              <h1>
             Search User    </h1>
             <section class="content">

                 <div class="row">
                     <div class="col-xs-12">
                         <div class="box">

  <input type="range" min="0" max="5" value="0" step="0.5" id="userRating">
  <div class="rateit" data-rateit-backingfld="#userRating"></div>
  <form method="post" id="Searchbar">
      <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Search by Username" id="Ename" name="name">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Search</button>
      </div>
    </form>
        </div>
      </div>
    </div>
  </section>
</section>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Search Result</h3>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
              <tr><th>UserName:</th></tr>
{{#if searchuser}}
        {{#each searchuser}}
            <tr><th>UserName:</th></tr>
          <tr><td> <label><input id="SelectUser" type="radio" value= "{{_id}}" name="SelectUser" /> {{profile.firstName}},{{profile.lastName}} </label></td></tr>
            {{/each}}
            <tr> <td> <input type="button" value="Profile" class="Profile" /></td>
             <td> <input type="button" value="Request" class="Request" /></td></tr>
             {{/if}}
           </dl>
           </div>
         </div>


            {{#each getUserProfile}}
            <tr><b>USER PROFILE</b></tr>
            <tr><td> Fullname : </td>
              <td>{{profile.firstName}},{{profile.lastName}}</td></tr>
            <tr><td>Gender:</td>
              <td>{{profile.gender}}</td></tr>
            <tr><td>Address:</td>
              <td> {{profile.address.line1}} </td></tr>
            <tr> <td></td><td>{{profile.address.line2}}</td></tr>
            <tr> <td></td><td>{{profile.address.city}} , {{profile.address.state}},{{profile.address.country}}-{{profile.address.pinCode}}</td></tr>
              <tr> <td> Email:</td>
            <td> {{#each emails}}{{address}}{{/each}} </td></tr>
            {{#if profile.share_phone}}
            <tr><td>PhoneNumber:</td>
              <td>{{profile.phone}}</td></tr>
              {{/if}}
            {{#if isInRole 'Admin'}}
            <tr></tr>
            <tr><td><input type="submit" class="addAdmin" value="Add as Admin" /></td></tr>
            {{/if}}
             {{/each}}

             {{#each getUserRequest}}
             <tr><b>REQUEST</b></tr>
             <tr><td>Request Name: </td>
               <td>{{request_name}}</td></tr>
              <tr><td>Requested For:</td>
                <td>{{requestType}}</td></tr>
                <tr><td>Address:</td>
                <td> {{requestAddress.line1}} </td></tr>
                <tr> <td></td><td> {{requestAddress.line2}}</td></tr>
                <tr> <td></td><td> {{requestAddress.city}} , {{requestAddress.state}},{{requestAddress.country}}-{{requestAddress.pinCode}}</td></tr>
                <tr><td>Aid</td>
                  <td>{{aidId}}</td></tr>
                <tr><td>Required by</td>
                  <td>{{requiredBy}}</td></tr>
                <tr><td>Is Emergency</td>
                  <td>{{emergency}}</td></tr>
                  <tr><td>Status</td>
                    <td>{{status}}</td></tr>
                {{/each}}

</div>
</div>
 </body>
   </html>
  </template>
