<template name = "SearchId">
  <h1>Search User </h1>
  <input type="range" min="0" max="5" value="0" step="0.5" id="userRating">
  <div class="rateit" data-rateit-backingfld="#userRating"></div>
     <form>
      <tr> <td> Enter User name </td> </tr>
        <tr><td><input type="text" default="search by Username " id="Ename" /></td>
          <td><input type="submit" class="search" value="SEARCH" /></td></tr>

{{#if searchuser}}
        {{#each searchuser}}
        <tr><td>UserName:</td>
            <td> <label><input id="SelectUser" type="radio" value= "{{_id}}" name="SelectUser" /> {{profile.firstName}},{{profile.lastName}} </label></td></tr>
            {{/each}}
            <tr> <td> <input type="button" value="Profile" class="Profile" /></td>
             <td> <input type="button" value="Request" class="Request" /></td></tr>
             {{/if}}

            {{#each getUserProfile}}
            <tr><b>USER PROFILE</b></tr>
            <tr><td> Fullname : </td>
              <td>{{profile.firstName}},{{profile.lastName}}</td></tr>
            <tr><td>Gender:</td>
              <td>{{profile.gender}}</td></tr>
            <tr><td>Address:</td>
              <td> {{profile.address.line1}} </td></tr>
            <tr> <td></td><td>{{profile.address.line2}}</td></tr>
            <tr> <td></td><td>{{profile.address.city}} , {{profile.address.state}},{{profile.address.country}}-{{profile.address.pinCode}}</td></tr>
              <tr> <td> Email:</td>
            <td> {{#each emails}}{{address}}{{/each}} </td></tr>
            {{#if profile.share_phone}}
            <tr><td>PhoneNumber:</td>
              <td>{{profile.phone}}</td></tr>
              {{/if}}
            {{#if isInRole 'Admin'}}
            <tr></tr>
            <tr><td><input type="submit" class="addAdmin" value="Add as Admin" /></td></tr>
            {{/if}}
             {{/each}}

             {{#each getUserRequest}}
             <tr><b>REQUEST</b></tr>
             <tr><td>Request Name: </td>
               <td>{{request_name}}</td></tr>
              <tr><td>Requested For:</td>
                <td>{{requestType}}</td></tr>
                <tr><td>Address:</td>
                <td> {{requestAddress.line1}} </td></tr>
                <tr> <td></td><td> {{requestAddress.line2}}</td></tr>
                <tr> <td></td><td> {{requestAddress.city}} , {{requestAddress.state}},{{requestAddress.country}}-{{requestAddress.pinCode}}</td></tr>
                <tr><td>Aid</td>
                  <td>{{aidId}}</td></tr>
                <tr><td>Required by</td>
                  <td>{{requiredBy}}</td></tr>
                <tr><td>Is Emergency</td>
                  <td>{{emergency}}</td></tr>
                  <tr><td>Status</td>
                    <td>{{status}}</td></tr>
                {{/each}}
   </form>
  </template>
