<template name="match">

    <h1>Connect </h1>
    <form action="" method="post" id="matchform">
        <table>
            <tr>
                <td>Request Id: </td> <td><input id = 'requestId' value="oEsBxoiLvhXHwRJ3G" /></td>
            </tr>

        </table>
        <input type="submit" class="match" value="Match" />

<table>
    <input type="text" id = "requestId" value="{{requestId}}" />
    <input type="text" id = "requestDate" value="{{requestDate}}" />
    {{#each matchRequestVolunteer}}
    <tr data-match="{{volunteerId}}">
        <td>
            {{_id}}, {{volunteerId}},{{aidId}},{{aidAddress.city}}
        </td>
    </tr>
    {{/each}}
    <tr>  <td>Volunteer Aid Id: </td> <td><input id = 'volunteerAidId' /></td> </tr>
<tr>  <td>Volunteer Id: </td> <td><input id = 'volunteerId' /></td> </tr>
    <tr>  <td>Aid Id: </td> <td><input id = 'aidId' /></td> </tr>
    <input type="button" value="Connect" class="connect" />
</table>
    </form>
</template>