<template name="notifications">
    <html>
    {{>include}}
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        {{>common}}
        {{>header}}

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Notifications
                </h1>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            {{#each notifications}}
                                <div class="box-header with-border" data-match="{{volunteerId}}">
                                    <h3 strong class="box-title">{{description}}</h3>

                                    <div class="box-body">
                                        <dl class="dl-horizontal">
                                            <dt>Request is</dt>
                                            <dd>{{type}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </body>
    </html>
</template>