<template name="notifications">
    <html>
    {{>include}}
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        {{>common}}
        {{>header}}

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Notifications
                </h1>
            </section>

            <section class="content">
                <div class="box box-default">
                    {{#each notifications}}
                        <div class="box-header with-border" data-match="{{volunteerId}}">

                            <h3 strong class="box-title"><a href="#">{{description}}</a></h3>
                            <small>({{status}})</small>
                            <small class="pull-right">{{formatDate rowCreated}}</small>

                        </div>
                    {{/each}}
                </div>
            </section>
        </div>
    </div>
    </body>
    </html>
</template>