<template name="notifications">

    <table>
        <th>_id,connectId,requestId,volunteerAidId,userId,type,description</th>
        {{#each notifications}}
            <tr data-match="{{volunteerId}}">
                <td>
                    {{_id}}, {{connectId}},
                </td>
                <td>
                    <a href=# id="getRequest" data-id="{{connectId}}" data-notif-id="{{_id}}"> {{requestId}} </a>
                </td>
                <td>
                    {{volunteerAidId}},{{userId}},{{type}},{{description}}
                </td>
            </tr>
        {{/each}}
    </table>
</template>