<template name="analytics">
    <html>

    {{>include}}
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {{>header}}
        {{>common}}

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Analytics
                </h1>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <!-- AREA CHART -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Aid Requested City Wise</h3>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    {{>analyticsRequestPerRegion}}
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Top Aid</h3>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    {{>analyticsAidRequestedFor}}
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Requests Created (per day)</h3>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    {{>analyticsRequestCreated}}
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Offers Created (per day)</h3>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    {{>analyticsOfferCreated}}
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Requests Created (per month)</h3>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    {{>analyticsRequestCreatedPerMonth}}
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Offers Created (per month)</h3>
                            </div>
                            <div class="box-body">
                                <div class="chart">
                                    {{>analyticsOfferCreatedPerMonth}}
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    </body>
    </html>
</template>