<template name="analyticsRequestCreated">

    <div id="chartdiv" style="height:250px"></div>

</template>

<template name="analyticsOfferCreated">

    <div id="chartdivSerialOffer" style="height:250px"></div>

</template>


<template name="analyticsRequestCreatedPerMonth">

    <div id="chartdivPerMonth1" style="height:250px"></div>

</template>

<template name="analyticsOfferCreatedPerMonth">

    <div id="chartdivPerMonth2" style="height:250px"></div>

</template>


<template name="analyticsRequestPerRegion">

    <div id="chartdivPerMonth3" style="height:250px"></div>

</template>

<template name="analyticsAidRequestedFor">

    <div id="chartdivAid" style="height:250px"></div>

</template>