<template name="addAdmin">
<h1>Add users to admin group</h1>
<form class="addAdmin" action="" method="post" id="addAdminform">
<p>
<label>First Name : </label>
<input type="text" required name="firstName" id="firstName" /></p>
<p></p>
<p>
<label>Last Name : </label>
<input type="text" name="lastName" id="lastName" /></p>
<p></p>
<p>Email id : <input type="email" required name="mailId" id="maidId" /></p>
<p></p>
<table align="left" width="10%">
<tr>
<td><input type="reset" value="Reset" /></td>
<td><input type="submit" value="Add" /></td>
</tr>
</table>
</form>
</template>
