<template name="login">

    {{>include}}
    {{>sAlert}}

    <body>


    <div class="content-overlay"></div>

        <div id="content-container">


            <div class="page">

                <div class="login-box">
                    <div class="login-logo">
                        <a><b>Ola</b>Amigos</a>
                    </div>
                    <div class="login-box-body">
                        <p class="login-box-msg">Sign in to continue with us</p>

                        <form method="post" id="loginform">
                            <div class="form-group has-feedback">
                                <input required type="email" class="form-control" placeholder="Email" id="maidId" name="mailId">
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input required type="password" class="form-control" placeholder="Password" id="password" name="password">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <!-- <div class="col-xs-8">
                                    <div class="checkbox icheck">
                                        <label>
                                            <input type="checkbox"> Remember Me
                                        </label>
                                    </div>
                                </div> -->
                                <!-- /.col -->
                                <div class="col-xs-8">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                        <p></p>
                        <a href="{{pathFor route='forgotPassword'}}"  class="forgotPass">I forgot my password</a><br>
                        <a href="{{pathFor route='signUp'}}" class="text-center">Register a new membership</a>
                    </div>
                    <!-- /.login-box-body -->
                </div>
                <!-- /.login-box -->
            </div>


        </div>


    </body>

</template>
