<template name="resendVerificationMail">

    <html>

    {{>include}}
    {{>sAlert}}
    <body class="hold-transition login-page image">
      <div id="content-container">

    <div class="login-box">
        <div class="login-logo">
            <a><b>Ola</b>Amigos</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Resend Verification Mail</p>

            <form method="post" id="resendVerificationMail">
                <div class="form-group has-feedback ">
                    <input required type="email" class="form-control" placeholder="Email" id="maidId" name="mailId">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="box-footer">
                    <button type="submit" class="Send Mail" value="Send Mail">Send Mail</button>
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    </div>
    </body>


    </html>
</template>
