<template name="common">
    {{#if currentUser}}
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <ul class="sidebar-menu" id="myNavmenu" role="navigation">

                    <li class="treeview">
                        <a href="{{pathFor route='createProfile'}}">
                            <span>Create Profile</span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="{{pathFor route='createRequest'}}">
                            <span>Create Request</span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>

                    <li>
                        <a href="{{pathFor route='createOffer'}}">
                            <i class="fa fa-edit"></i> <span>Create Offer</span>
                            <small class="label pull-right bg-red"></small>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="{{pathFor route='listOfRequests'}}">
                            <span>Manage Requests </span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="{{pathFor route='notifications'}}">
                            <span>Notifications</span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="{{pathFor route='SearchId'}}">
                            <span>Search People</span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="{{pathFor route='informationAdd'}}">
                            <span>Add Information </span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="{{pathFor route='informationView'}}">
                            <span>Informations </span>
                            <span class="label label-primary pull-right"></span>
                        </a>
                    </li>

                    {{#if isInRole 'Admin'}}
                      <li class="treeview">
                          <a href="{{pathFor route='adminAuth'}}">
                              <span>Authentication/ Blacklisting</span>
                              <span class="label label-primary pull-right"></span>
                          </a>
                      </li>
                    {{/if}}

                    {{#if isInRole 'Admin'}}
                      <li class="treeview">
                          <a href="{{pathFor route='analytics'}}">
                              <span>Analytics</span>
                              <span class="label label-primary pull-right"></span>
                          </a>
                      </li>
                      {{/if}}

                    {{#if isInRole 'Admin'}}
                        <li class="treeview">
                            <a href="{{pathFor route='aid'}}">
                                <span>Add Aid</span>
                                <span class="label label-primary pull-right"></span>
                            </a>
                        </li>
                    {{/if}}

                    {{#if isInRole 'Admin'}}
                        <li class="treeview">
                            <a href="{{pathFor route='addTocontactUs'}}">
                                <span>Update - Contact Us</span>
                                <span class="label label-primary pull-right"></span>
                            </a>
                        </li>
                    {{/if}}

                    {{#if isInRole 'Admin'}}
                        <li class="treeview">
                            <a href="{{pathFor route='viewFeedbacks'}}">
                                <span>View Feedbacks</span>
                                <span class="label label-primary pull-right"></span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </section>
        </aside>
    {{else}}
        {{>login}}
    {{/if}}
</template>
