<template name="common">
    {{#if currentUser}}
    <!-- Left side column. contains the logo and sidebar -->


    <li class="treeview">
        <a href="/">
            <span class="menu-header">Drishti Connect</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>

    {{#if isInRole 'Admin'}}
    <li class="treeview">
        <a title = "Admin can validate user as either Authentic, Blacklisted or Warned" href="{{pathFor route='adminAuth'}}">
            <i class="fa fa-check"></i> <span>Create/Authenticate Volunteer</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>
    {{/if}}

    {{#if isInRole 'Admin'}}
    <li class="treeview">
        <a title = "Admin can manually connect a request with a volunteer when the requestor cannot find a match" href="{{pathFor route='manualConnect'}}">
            <i class="fa fa-adjust"></i>  <span>Assign Request to Volunteer</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>
    {{/if}}

    {{#if isNotEqual getUserRole "Volunteer"}}
    <li class="treeview">
        <a title = "A request can be created for self or for someone else for any of the available Aids for a specific Date" href="{{pathFor route='createRequest'}}">
            <i class="fa fa-edit"></i><span>Submit Request</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>
    {{/if}}

    {{#if isNotEqual getUserRole "Seeker"}}
    <li>
        <a title = "A volunteer can create an offer for self or for someone else based on their availablility for any specific Aid" href="{{pathFor route='createOffer'}}">
            <i class="fa fa-edit"></i> <span>Submit Offer</span>
            <small class="label pull-right bg-red"></small>
        </a>
    </li>
    {{/if}}

    <li class="treeview">
        <a title= "Displays Requests and Connections associated with a User" href="{{pathFor route='listOfRequests'}}">
            <i class="fa fa-adjust"></i><span>Connect </span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>

    <li class="treeview">
        <a title= "Actionable Notifications are sent to users to respond accordingly" href="{{pathFor route='notifications'}}">
            <i class="fa  fa-bell"></i><span>Notifications</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>


    <li class="treeview">
        <a title= "Create a new Profile for Others which included Email verification for the registered mail ID" href="{{pathFor route='createProfile'}}">
            <i class="fa fa-edit"></i><span>Create Profile for Others</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>

    {{#if isInRole 'Admin'}}
        <li class="treeview">
            <a title = "Search based on First Name/ Last Name to view their Profile" href="{{pathFor route='SearchId'}}">
                <i class="fa fa-search"></i><span>Search People</span>
                <span class="label label-primary pull-right"></span>
            </a>
        </li>
    {{/if}}

    <li class="treeview">
        <a title = "Users can Add Information about available Govt. Circulars, Events, Education, Jobs and Others" href="{{pathFor route='informationAdd'}}">
            <i class="fa fa-plus"></i> <span> Add Latest Updates</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>

    <li class="treeview">
        <a title= "Gives validated Information about available Govt. Circulars, Events, Education, Jobs and Others" href="{{pathFor route='informationView'}}">
            <i class="fa fa-bullhorn"></i><span>Latest News/Event/Update </span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>


    {{#if isInRole 'Admin'}}

    <li class="treeview">
        <a title= "Admin can view all the Requests for a Specified Date" href="{{pathFor route='allRequests'}}">
            <i class="fa  fa-bell"></i><span>Requests List</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>

    <li class="treeview">
        <a title = "Analytic data representation" href="{{pathFor route='analytics'}}">
            <i class="fa fa-bar-chart"></i>  <span>Analytics</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>

    <li class="treeview">
        <a title= "Admin can Add Aids into the system" href="{{pathFor route='aid'}}">
            <i class="fa fa-plus"></i><span>Add Aid</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>

    <li class="treeview">
        <a title = "Admin can add contact details" href="{{pathFor route='addTocontactUs'}}">
            <i class="fa fa-phone"></i><span>Add Admin's contact details</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>

    <li class="treeview">
        <a title = "Admin can view/act upon the User Feedbacks" href="{{pathFor route='viewFeedbacks'}}">
            <i class="fa fa-paste"></i><span>View Feedbacks</span>
            <span class="label label-primary pull-right"></span>
        </a>
    </li>
    {{/if}}

    {{else}}
    {{>login}}
    {{/if}}
</template>
