<template name="header">
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>Ola</b>Amigos</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Ola</b>Amigos</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->

            <a class="sidebar-toggle" data-toggle="offcanvas" role="button" data-target="#myNavmenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            {{#each getCount}}
                                <span class="label label-warning">{{count}}</span>
                            {{/each}}
                        </a>
                        <ul class="dropdown-menu">
                            {{#each getCount}}
                                <li class="header">You have {{count}} notifications</li>
                            {{/each}}
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    {{#each  notifications}}
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> {{description}}
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                            <li class="footer"><a href="{{pathFor route='notifications'}}">View all</a></li>
                        </ul>
                    </li>

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">Ola {{currentUser.profile.firstName}} {{currentUser.profile.lastName}}
                                    !! </span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <p>
                                    Ola {{currentUser.profile.firstName}} {{currentUser.profile.lastName}}!!
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{pathFor route='createProfile'}}" class="btn btn-default btn-flat">Create
                                        Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{pathFor route='logout'}}" class="btn btn-default btn-flat">Logout</a>
                                </div>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>


                </ul>
            </div>
        </nav>
    </header>
</template>
