<template name="help">
    {{>include}}
    {{>sAlert}}

    <body>
    <div id="container" class="{{menuOpen}}">
        <section id="menu">
            <div class="btns-group-vertical">
                <div class="row">
                    <div class="sidebar">
                        <ul class="nav nav-sidebar">
                            {{>common}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="content-overlay"></div>

        <div id="content-container">


            <div class="page">

                {{>header}}

                <div class="content-scrollable">
                    <div class="container-fluid">
                  <div class="row">
                      <!-- left column -->
                      <div class="col-md-6">
                          <!-- general form elements -->
                          <div class="box box-primary">

                            <div class="box-header with-border">
                                <h1 class="box-title">Help</h1>
                            </div>
                            <div>
                              <label>  Users: </label>
                            </div>

                            <div class="form-group">
                                <label>Create Request</label>
                                <div>
                                    A request can be created for themselves or for someone else for any of the available Aids for a specific Date.
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Create Offer</label>
                                <div>
                                  A volunteer can raise an offer based on his availablility for any specific Aid. An offer can also be created on behalf of someone else.
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Connect:?????????????????</label>
                                <div>
                                  This link displays a list of requests with their statuses. Each request when selected will give details about the Request, Date Requested and the Aid requested for.
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Notification: ??????????????????/</label>
                                <div>
                                  Actionable Notifications with details about the connections are sent for users to respond accordingly.                                </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Create Profile</label>
                                <div>
                                  New users can be signed up by Admin agents or Friends. Email verification will be sent to the registered mail ID to confirm the profile.
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Search People:</label>
                                <div>
                                  <tr>Any user in the system can be searched by their First Name or Last Name to view their profile.</tr>
                                  <tr>Admin Agents can search any user to view their profile details and the requests filed by them.</tr>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Add Information:</label>
                                <div>
                                  <tr>
                                  Users can Add Information about available Hospitals/Doctors, Rights that each Individual deserves, Ailments, Education details for Visually challenged people, Career
                                  Options.</tr>
                                  <tr> Admin agents will validate every information added by users before publishing it.</tr>
                                  <tr>
                                  Admin agents can Add Information about available Hospitals/Doctors, Rights that each Individual deserves, Ailments, Education details for Visually challenged people, Career
                                  Options.</tr>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Informations:</label>
                                <div>
                                  <tr>Gives valid details about available Hospitals/Doctors, Rights that each Individual deserves, Ailments, Education details for Visually challenged people, Career
                                  Options.</tr>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Authenticate/Blacklist:</label>
                                <div>
                                  <tr>Admin agents should validate every user as either Authentic, Blacklisted or Warned user. </tr>
                                    <tr>Only the Warned and Authenticed users are considered for connect process.</tr>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Manual Connect: ?????????????????/</label>
                                <div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label>Add Aid:</label>
                                <div>
                                  Admins have to add Aids.
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Analytics:</label>
                                <div>
                                  Analytic data can be viewed here.
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Update contact Us:</label>
                                <div>
                                  Admins can add contact details to whom users can reach out on call/ email.
                                </div>
                            </div>

                            <div class="form-group">
                                <label>View Feedback:</label>
                                <div>
                                  User feedbacks can be viewed here, admins can react to the feedbacks whereever needed.
                                </div>
                            </div>
                          </div>
                        </div>
              </div>
                </div>
</div>
            </div>
        </div>
      </body>
</template>
