<template name="help">
    {{>include}}
    {{>sAlert}}

    <body>
    <div id="container" class="{{menuOpen}}">
        <section id="menu">
            <div class="btns-group-vertical">
                <div class="row">
                    <div class="sidebar">
                        <ul class="nav nav-sidebar">
                            {{>common}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="content-overlay"></div>

        <div id="content-container">


            <div class="page">

                {{>header}}

                <div class="content-scrollable">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="page-header">Help</h1>

                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <!-- left column -->
                            <div class="col-md-6">
                                <!-- general form elements -->
                                <div class="box box-primary" style="padding-left: 10px">
                                    <div class="form-group">
                                      {{#if isInRole 'Admin'}}
                                      <label>System  Setup - Admin</label>
                                      <div>
                                        <ul>
                                          <li>Aids must be added</li>
                                          <li>Informations like Career, Rights, Hospitals must be added</li>
                                          <li>Add Contact us information</li>
                                          <li>To make other users as Admin, use the Search People link and click on profile. Select the Add as Admin button.</li>
                                        </ul>
                                      </div>
                                      {{/if}}
                                    </div>

                                    <div class="form-group">
                                        <label>Create Request</label>

                                        <div>
                                            A request can be created for themselves or for someone else for any of the
                                            available Aids for a specific Date.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Create Offer</label>

                                        <div>
                                            A volunteer can create an offer based on his availablility for any specific
                                            Aid. An offer can also be created on behalf of someone else.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Connect</label>

                                        <div>
                                            This link displays the requests and connections associated with a User.<br/>
                                            Each request when selected will give details about the Request, Date Requested and the Aid
                                            requested. Options for Edit, Delete of a request are also available here.<br/>
                                            Each connection when selected will give details about the Connection and options to manage a Connection.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Notification</label>
                                        <div>
                                            Actionable Notifications are sent to users to respond accordingly. Clicking on the link will direct users to the appropriate page.
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label>Create Profile</label>

                                        <div>
                                            New user profile can be created by Admin agents or Friends. Email verification will
                                            be sent to the registered mail Id to confirm the profile.
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label>Search People</label>

                                        <div>
                                            Any user in the system can be searched by their First Name or Last Name to
                                                view their profile. <br/>
                                             Admin Agents can search any user to view their profile details and the
                                                requests filed by them.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Add Information</label>

                                        <div>
                                                Users can Add Information about available Hospitals/Doctors, Rights that
                                                each Individual deserves, Ailments, Education details for Visually
                                                challenged people, Career
                                                Options. <br/>
                                             Admin agents will validate every information added by users before
                                                publishing it.<br/>
                                                Admin agents can Add Information about available Hospitals/Doctors, Rights
                                                that each Individual deserves, Ailments, Education details for Visually
                                                challenged people, Career
                                                Options.
                                                </div>
                                        </div>

                                    <div class="form-group">
                                        <label>Informations</label>

                                        <div>
                                            Gives valid details about available Hospitals/Doctors, Rights that each
                                                Individual deserves, Ailments, Education details for Visually challenged
                                                people, Career Options.

                                        </div>
                                    </div>
                                    {{#if isInRole 'Admin'}}
                                    <div class="form-group">
                                        <label>Authenticate Users</label>

                                        <div>
                                            Admin agents should validate every user as either Authentic, Blacklisted or
                                                Warned user.
                                           Only the Warned and Authenticed users are considered for connect process.

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Manual Connect</label>

                                        <div>
                                            Admin can manually connect a request with a volunteer when the requestor cannot find a match.
                                            Admin can search for a request, search for a volunteer and connect them, even when the volunteer has not registered for an Aid.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Add Aid</label>

                                        <div>
                                            Admin will configure aids for the system.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Requests List</label>

                                        <div>
                                            Admin can view All the Requests for a Specified Date. 
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Analytics</label>

                                        <div>
                                            Analytic data can be viewed here.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Update Contact Us</label>

                                        <div>
                                            Admins can add contact details to whom users can reach out on call/ email.
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>View Feedback</label>

                                        <div>
                                            User feedbacks can be viewed here, admins will act to the feedback when necessary.
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </template>
