<template name="home">

    <html>
    {{>include}}
    {{>sAlert}}

    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {{>common}}
        {{#if currentUser}}
          {{>header}}

        <div class="content-wrapper image">
        <!-- Content Header (Page header) -->
          <section class="content-header">
          </section><!--
          <section class="content">
          &lt;!&ndash;  <h2 class="page-header">Bootstrap Accordion & Carousel</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Carousel</h3>
                  </div>
                  &lt;!&ndash; /.box-header &ndash;&gt;
                  <div class="box-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="item active">
                          &lt;!&ndash; <img src="http://placehold.it/900x500/39CCCC/ffffff&text=I+Love+Bootstrap" alt="First slide"> &ndash;&gt;
                          <p>One</p>
                          <div class="carousel-caption">
                            First Slide
                          </div>
                        </div>
                        <div class="item">
                          &lt;!&ndash; <img src="http://placehold.it/900x500/3c8dbc/ffffff&text=I+Love+Bootstrap" alt="Second slide"> &ndash;&gt;
                          <p>Two</p>
                          <div class="carousel-caption">
                            Second Slide
                          </div>
                        </div>
                        <div class="item">
                          &lt;!&ndash; <img src="http://placehold.it/900x500/f39c12/ffffff&text=I+Love+Bootstrap" alt="Third slide"> &ndash;&gt;
                          <p>Three</p>
                          <div class="carousel-caption">
                            Third Slide
                          </div>
                        </div>
                      </div>
                      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                      </a>
                    </div>
                  </div>
                  &lt;!&ndash; /.box-body &ndash;&gt;
                </div>
                &lt;!&ndash; /.box &ndash;&gt;
              </div>
          &ndash;&gt;    &lt;!&ndash; /.col &ndash;&gt;
            </div>
            &lt;!&ndash; /.row &ndash;&gt;
            &lt;!&ndash; END ACCORDION & CAROUSEL&ndash;&gt;

          </section>-->
        </div>
        {{/if}}
    </div>
    </body>
    </html>

</template>
