<template name="adminAuth">
    <h1>Update User Status </h1>

    <form action="" method="post" id="adminAuth">
        <table>
            <tr>
                <td>User</td>
                <td><input id="user"/></td>

            </tr>

            <tr>
                <td>Update User Status: </td> <td><select id = 'status' >
            <option>Authentic</option>
                <option>Blacklisted</option>
                <option>Warned</option>

            </select>

            </td>
            </tr>

        </table>
        <input type="submit" class="adminAuth" value="Submit" />
    </form>




</template>