<template name="adminAuth">
    {{>include}}
    {{>sAlert}}

    <body>
    <div id="container" class="{{menuOpen}}">
        <section id="menu">
            <div class="btns-group-vertical">
                <div class="row">
                    <div class="sidebar">
                        <ul class="nav nav-sidebar">
                            {{>common}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="content-overlay"></div>

        <div id="content-container">


            <div class="page">

                {{>header}}

                <div class="content-scrollable">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="page-header">Authenticate Users</h1>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="box">

                            <div class="box-body table-responsive no-padding">
                              <div class="box-header with-border">
                                  <h3 class="box-title">
                                    New Users to be Authenticated:
                                  </h3>
                              </div>
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>FirstName </th>
                                        <th>LastName </th>
                                        <th>Status</th>
                                    </tr>

                                    {{#each toBeAuthenticatedList}}
                                        <tr>
                                            <td>{{profile.firstName}}  </td>
                                            <td>{{profile.lastName}} </td>
                                            <td>
                                              <div class="form-group">
                                                    <input hidden id="firstName" type="text" value={{profile.firstName}}>
                                                    <input hidden id='lastName' type="text" value="{{profile.lastName}}">
                                                    <select required id="authstatus" class="form-control">
                                                        <option value="" disabled selected>Please Select</option>
                                                        <option>Authentic</option>
                                                        <option>Blacklist</option>
                                                        <option>Warned</option>
                                                    </select>
                                                </div>
                                              </td>
                                              <td>
                                                  <input type="button" class="updateStatus btn btn-primary" value="Submit"/>
                                              </td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="box box-primary">


                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            Search User*

                                        </h3>

                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <input type="text" required="required" class="form-control"
                                                   id="Ename" name="name" placeholder="Enter Name"
                                                    >
                                        </div>

                                        <div class="box-footer">
                                            <input type="button" class="searchUser btn btn-primary" value="Search"
                                                   id="searchUser"/>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        {{#if searchUser}}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="box box-primary">


                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            Search Results

                                        </h3>

                                    </div>
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <tbody>
                                            {{#each searchUser}}
                                            <tr>
                                                <td>
                                                    {{profile.firstName}} {{profile.lastName}}
                                                    {{#if profile.status}}
                                                    , {{profile.status}} user
                                                    {{else}}
                                                    , yet to be authenticated
                                                    {{/if}}
                                                </td>
                                                <td>
                                                    <div class="text-align">

                                                        <a href="#" class="selectUser">Select</a>

                                                    </div>
                                                </td>
                                            </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        {{/if}}


                        {{#if getUserName}}


                        <div class="row">
                            <div class="col-md-6">
                                <div class="box box-primary">


                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            Update User status

                                        </h3>

                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <input hidden id="user" type="text" value={{getUserName}}>
                                            <select required id="status" class="form-control">
                                                <option value="" disabled selected>Please Select</option>
                                                <option>Authentic</option>
                                                <option>Blacklist</option>
                                                <option>Warned</option>
                                            </select>
                                        </div>

                                        <div class="box-footer">
                                            <button type="submit" class="adminAuth btn btn-primary">Submit</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        {{/if}}
                    </div>




                </div>
            </div>
        </div>
    </div>
    </body>
</template>
