<template name="informationAdd">
    {{>include}}
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper ">
        {{>header}}
        {{>common}}
        {{>sAlert}}
          <div class="content-wrapper image">
            <section class="content-header">
            </section>
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Add Information</h3>
                            </div>
                            <form role="form" method="post" id="addInformationForm">
                                <div class="box-body">
                                  <div class="form-group">
                                      <label>Title:</label>
                                      <input id='infoTitle' required class="form-control" type="text">
                                   </div>
                                   <div class="form-group">
                                       <label>Information Type:</label>
                                       <select class="form-control" required id="stype-select">
                                           <option value="" disabled selected> Please Select</option>
                                           {{#each typeList}}
                                               <option value="{{this}}">{{this}}</option>
                                           {{/each}}
                                       </select>
                                   </div>
                                   <div class="form-group">
                                       <label>Description:</label>
                                       <textarea id='infoDescription' required class="form-control" rows="5"
                                                 placeholder="Enter ..."></textarea>
                                       <!-- <input id='infoDescription' maxlength="1000" rows="5" class="form-control" type="text"> -->
                                    </div>

                                    <div class="form-group">
                                        <label>Contact Address:</label>
                                      </div>

                                    <div class="form-group">
                                        <label>Line 1</label>
                                        <input type="text" class="form-control" id='s_line1'>
                                    </div>

                                    <div class="form-group">
                                        <label>Line 2</label>
                                        <input type="text" class="form-control" id='s_line2'>
                                    </div>

                                    <div class="form-group">
                                        <label>City</label>
                                        <select class="form-control" id="scity-select">
                                            <option selected="selected">Please Select</option>
                                            {{#each cityList}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>

                                  <div class="form-group">
                                        <label>State</label>
                                        <select class="form-control" id="sstate-select">
                                            <option selected="selected">Please Select</option>
                                            {{#each stateList}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" required class="form-control" id='s_country' value="INDIA" disabled>
                                    </div>

                                    <div class="form-group">
                                        <label>Pin Code</label>
                                        <input type="text" pattern=".{6,}" maxlength="6" class="form-control" id='s_pincode'>
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Number:</label>
                                        <input id='infoPhone' pattern=".{10,}" maxlength="10" class="form-control" type="tel">
                                     </div>
                                     {{#if isInRole 'Admin'}}
                                       <div class="form-group">
                                        <label>Is Verified: </label>
                                        <select name="isVerified" required id="isVerified" class="form-control">
                                          <option value="No">No</option>
                                          <option value="Yes">Yes</option>
                                        </select>
                                      </div>
                                      {{/if}}

                                      </div>
                                  <div class="box-footer">
                                      <button type="submit" class="Addinfo btn btn-primary">ADD</button>
                                  </div>

                                </form>
                                </div>
                                </div>
                                </div>
                            </section>
                          </div>
                          </div>
</body>
</template>
