<!-- <template name="informationAdd">

<h1>Add Information </h1>

<form>
  <tr> <td> <label><input id="Information" type="radio" value= "hosp" name="hosp" />Hospitals/Doctors</label></td></tr>
  <tr> <td> <label><input id="Information" type="radio" value= "aliment" name="hosp" />Aliments</label></td></tr>
  <tr> <td> <label><input id="Information" type="radio" value= "education" name="hosp" />Education</label></td></tr>
  <tr> <td> <label><input id="Information" type="radio" value= "jobs" name="hosp" />Jobs</label></td></tr>
  <tr> <td> <label><input id="Information" type="radio" value= "rights" name="hosp" />Rights</label></td></tr>
  <tr><td><input type="submit" class="addinfo" value="ADD" /></td></tr>
  <!-- <tr> <td> <input type="button" value="Add" class="Add" /></td></tr> -->
  <!-- <tr> <td> <input type="button" value="Delete" class="Delete" /></td></tr> -->
  <!-- {{#if hosp}}
  <tr><td>Enter hospital details </td></tr>
  <tr><td>Hospital Name:</td>
    <input type="text" class="form-control" id='Hospital_name'></tr>
  <tr><td>Doctor Name:</td>
      <input type="text" class="form-control" id='Doctor_name'></tr>
    <tr><td>Description:</td>
        <input type="text" class="form-control" id='Facility_desc'></tr>
  {{/if}}

  {{#if aliment}}
  <tr><td>Enter hospital details </td></tr>
  <tr><td>Hospital Name:</td>
    <input type="text" class="form-control" id='Hospital_name'></tr>
  <tr><td>Doctor Name:</td>
      <input type="text" class="form-control" id='Doctor_name'></tr>
    <tr><td>Description:</td>
        <input type="text" class="form-control" id='Facility_desc'></tr>
  {{/if}}

</form>

</template> --> -->
