<template name="createRequest">

<h1>Create Request</h1>
<form action="" method="post" id="requestForm">
    <p>
    <td>requestName: </td> <td><input id = 'requestName' /></td>
    </p>
    <p>
    <td>requestType: </td>
    <td><input id = 'requestType' /></td>
    </p>
    <p>
    <td>aidId: </td> <td><input id = 'aidId' /></td>
    </p>
    <p>
    <td>requiredBy: </td> <td><input id = 'requiredBy' /></td>
    </p>
    <p>
    <td>Emergency: </td> <td><input id = 'emergency' /></td>
    </p>
    <p>
    <td>addressId: </td> <td><input id = 'addressId' /></td>
    </p>
    <input type="submit" class="createRequest" value="Request" />
</form>


</template>
