<template name = "manualConnect">
<html>
{{>include}}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  {{>common}}
  {{>header}}
  {{>sAlert}}

  <!-- new code -->
  <div class="content-wrapper">
      <section class="content-header">
          <h1>
              Connect
          </h1>
      </section>
      <section class="content">
     <div class="row">
              <div class="col-md-6">
                  <div class="box box-primary">
                      <div class="box-header with-border">
                      Search User
                      </div>
                      <div class="box-body">


                            <span class="glyphicon glyphicon-search form-control"> <input type="text" placeholder="Search by Username" id="Ename" name="name">
                             <input type="button" class="searchUserforManual" value="searchUserforManual" id="searchUserforManual"/></span>
                      </div>
                  </div>
              </div>
              <input hidden id='requestId' value="{{match.request._id}}" />
              <input hidden id='requestDate' value="{{match.request.requiredBy}}"/>
              <input hidden id='aidId' value="{{match.request.aidId}}" />
     </div>
          {{#if SearchUserforManual}}

          <div class="box box-primary">
              <div class="box-header with-border">
                  <h3 class="box-title">Search Result</h3>
              </div>
              <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                      <tbody>
                      {{#each SearchUserforManual}}
                      <div>  <tr><td> <label><input id="SelectUser" type="radio" value= "{{_id}}" name="SelectUser" /> {{profile.firstName}},{{profile.lastName}} </label></td></tr>
                          <!-- <input type="range" min="0" max="5" value="0" step="0.5" id="userRating">
                            <div class="rateit" data-rateit-backingfld="#userRating"></div> -->
                      </div>
                      {{/each}}
                      </tbody>
                  </table>

                  <tr>
                      <div>
                          <td><input type="button" value="Profile" class="Profile" /></td>
                          {{#if isInRole 'Admin'}}
                          <td> <input type="button" value="Request" class="Request" /></td>
                          {{/if}}
                      </div>
                  </tr>
              </div>
          </div>
          {{/if}}

      </section>
      </div>
    </div>
  </body>
    </html>
    </template>

  <!--new code end -->


