    <template name="manualConnect">
{{>include}}
{{>sAlert}}

<body>
<div id="container" class="{{menuOpen}}">
<section id="menu">
    <div class="btns-group-vertical">
        <div class="row">
            <div class="sidebar">
                <ul class="nav nav-sidebar">
                    {{>common}}
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="content-overlay"></div>

<div id="content-container">


<div class="page">

{{>header}}

<div class="content-scrollable">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Manual Connect</h1>

        </div>
    </div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">


            <div class="box-header with-border">
                <h3 class="box-title">
                        Search User for selecting Request

                </h3>

            </div>
            <div class="box-body">
                <div class="form-group">
                    <input type="text" required="required" class="form-control"
                           id="Ename" name="name" placeholder="Enter Name"
                            >
                </div>

                <div class="box-footer">
                    <input type="button" class="searchUserforManual  btn btn-primary" value="Search"
                           id="searchUserforManual"/>
                </div>
            </div>


        </div>
    </div>
    <input hidden id='requestId' value="{{match.request._id}}"/>
    <input hidden id='requestDate' value="{{match.request.requiredBy}}"/>
    <input hidden id='aidId' value="{{match.request.aidId}}"/>
</div>
{{#if SearchUserforManual}}


<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">

                    Select User's Request

                </h3>

            </div>


            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    {{#each SearchUserforManual}}
                    <tr>
                        <td>

                            <div class="text-left">
                                {{profile.firstName}},{{profile.lastName}}
                            </div>
                            <div class="text-right">
                              <a href="#" class="requestforManual">View User Requests</a>

                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{/if}}

{{#if getUserRequestforManual}}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Request
                </h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>

                    <tr>
                        <th>Name</th>
                        <th>At</th>
                        <th>Aid</th>
                        <th>Required by</th>
                        <th>status</th>
                    </tr>

                    {{#each getUserRequestforManual}}
                    {{#if isEqual status 'Submitted'}}
                    <tr>
                        <td>{{request_name}}</td>
                        <td> {{requestAddress.city}}</td>
                        <td>{{aidName}}</td>
                        <td>{{ formatDate requiredBy}}</td>
                        <td>{{status}}</td>
                        <td><a href="#" class="requestManualConnect">Select for Connect</a></td>
                    </tr>
                    {{/if}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{/if}}

{{#if selectedRequestManual}}

<div class="row">
    <div class="col-md-6">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Request for Manual Connect - {{selectedRequestManual.request_name}}
                </h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Requesting for</dt>
                    <dd> {{selectedRequestManual.aidName}}</dd>
                    <dt>On</dt>
                    <dd>{{formatDate selectedRequestManual.requiredBy}}</dd>
                    <dt>At</dt>
                    <dd>
                        {{#if selectedRequestManual.requestAddress.line1}}
                        {{selectedRequestManual.requestAddress.line1}},
                        {{/if}}
                        {{#if selectedRequestManual.requestAddress.line2}}
                        {{selectedRequestManual.requestAddress.line2}},
                        {{/if}}
                        {{#if selectedRequestManual.requestAddress.city}}
                        {{selectedRequestManual.requestAddress.city}},
                        {{/if}}
                        {{#if selectedRequestManual.requestAddress.country}}
                        {{selectedRequestManual.requestAddress.country}},
                        {{/if}}
                        {{#if selectedRequestManual.requestAddress.pinCode}}
                        {{selectedRequestManual.requestAddress.pinCode}}.
                        {{/if}}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">


            <div class="box-header with-border">
                <h3 class="box-title">
                    Search User for selecting Volunteer

                </h3>

            </div>
            <div class="box-body">
                <div class="form-group">
                    <input type="text" required="required" class="form-control"
                           id="EnameVol" name="name" placeholder="Enter Name"
                            >
                </div>

                <div class="box-footer">
                    <input type="button" class="searchVolunteerforManual  btn btn-primary" value="Search"
                           id="searchVolunteerforManual"/>
                </div>
            </div>


        </div>
    </div>

</div>

{{/if}}


{{#if searchVolunteerforManual}}


<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">

                    User list for Volunteers

                </h3>

            </div>


            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    {{#each searchVolunteerforManual}}
                    <tr>
                        <td>

                            <div class="text-left">
                                {{profile.firstName}},{{profile.lastName}}
                            </div>
                            <div class="text-right">

                                <a href="#" class="profileforManual">Select a Volunteer</a>


                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{/if}}


{{#if getUserProfileforManual}}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">
                    Volunteer Details
                </h3>

            </div>

            <div class="box-body">
                    {{#each getUserProfileforManual}}
                <tr>
                    <td><b> Name </b></td>
                    <td>{{profile.firstName}},{{profile.lastName}}</td>
                </tr>
                <tr>
                    <td><b></b></td>
                    <td>{{profile.gender}}</td>
                </tr>
                <tr>
                    <td><b>Address </b></td>
                    <td> {{profile.address.line1}},{{profile.address.line2}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{profile.address.city}} ,
                        {{profile.address.state}},{{profile.address.country}}-{{profile.address.pinCode}}
                    </td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td> {{#each emails}}{{address}}{{/each}}</td>
                </tr>

                <tr>
                    <td><b>Contact number</b></td>
                    <td>{{profile.phone}}</td>
                </tr>
                <tr>
                    <td>
                        <!-- <a href="#" class="volunteerManualConnect">Choose Volunteer</a>-->
                        <div class="text-left">
                        </div>
                        <div class="text-right">
                        <a href="#" id="chooseVolunteer" class="volunteerManualConnect">Select for Connect</a>
                        <!--<input type="button" class="volunteerManualConnect" value="Select for Connect"
                               id="chooseVolunteer"/>-->
                    </div>
                    </td>
                </tr>
                {{/each}}

            </div>
        </div>
    </div>
</div>
{{/if}}




{{#if volunteerManualConnect}}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"> Selected Volunteer
                </h3>
            </div>

            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Details</dt>
                    <dd>
                        {{volunteerManualConnect.profile.firstName}},{{volunteerManualConnect.profile.lastName}},
                        {{volunteerManualConnect.profile.gender}},{{volunteerManualConnect.profile.address.city}},{{volunteerManualConnect.profile.phone}}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

{{/if}}

{{#if volunteerManualConnect}}


<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"> Connect Request with Volunteer
                </h3>
            </div>
            <div class="box-footer">
                <input type="button" class="manualConnect  btn btn-primary" value="Connect"
                       id="manualConnect"/>
            </div>

        </div>
    </div>
</div>

{{/if}}

</div>
</div>
</div>
</div>


</div>
</body>

</template>

<!--new code end -->


